.vscode
*.pyc
__pycache__
.ipynb_checkpoints

# large data directories
data/data_zenodo/
data/T2_star_images
data/DW-MRI_images
all_data/
all_results/
results_backup/
test_out/*.h5
test_out/*_raw.npy
test_out/*.nrrd